<html>
	<head>
	  <link rel="icon" href="../favicon.ico"/>
	  <link rel="stylesheet" href="../css/styles.css"/>
	</head>
	<body>
		<h3>Get</h3>
		<form action="/hello" method="get">
			Name: <input name="name" value="Michael"><br/><br/>
			Age: <input name="age" value="23"><br/><br/>
			<input type="submit" value="Submit">
		</form><br/>
		
		<h3>Post</h3>
		<form action="/hello" method="post">
			Name: <input name="name" value="Michael"><br/><br/>
			Age: <input name="age" value="23"><br/><br/>
			<input type="submit" value="Submit">
		</form>
	</body>
</html>